




//
//
 // body{
 //   background: -webkit-linear-gradient(left,#eee,#a7a1ae);
 //   background: linear-gradient(to right,#eee,#a7a1ae);
 //
 //   font-family: 'Roboto', sans-serif;
 // }

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:100);

h1 {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

h2 {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

div{
    background-color:#1F2739;
    color: white;
}
.aprobado{
  background-color:#55AA55;
}
.aprobado:hover {
    background-color: #3e8e41;
}
.monetizado{
  background-color:#55AA55;
}
.monetizado:hover {
    background-color: #3e8e41;
}

.afiliado{
  background-color:#457474;
}
.afiliado:hover {
    background-color: #2E6060;
}

.rechazado{
  background-color: #D46A6A;
}
.rechazado:hover {
    background-color: #801515;
}

.stop{
  background-color: #D46A6A;
}
.stop:hover {
    background-color: #801515;
}

.subido{
  background-color: #D4CA6A;
}
.subido:hover {
    background-color: #AA3939;
}

.destroy{
  background-color: #676767;
}
.destroy:hover {
    background-color: #2F2F2F;
}
body {
  background-color:#1F2739;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;

}
.center{
  text-align: center;
}
html {
  background-color: #1f2739 ;
}
td {
  color:white;
}
h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}
.select{
  display: inline-flex;;
  user-select:none;
  cursor: pointer;
  text-align: center;

}
li{

  color: #1F2739;
}

a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
a:hover{
    text-transform: uppercase;
  text-decoration: none;
  background-color: #1F2739;
}
a:active{
    text-transform: uppercase;
  text-decoration: none;
}
h3{
   font-size:1em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 1%;
	  padding-top: 1%;
  padding-left:1%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: white; }

.container tr:hover {
   background-color: #464A52;

}

.container td:hover {
  color: white;


}


/* for custom scrollbar for webkit browser*/
